  .infobtn {
      margin-right: 5px;
      margin-bottom: 10px;
      height: 38px;
  }
  #startSurvey {
      margin-top: -10px;
      margin-left: 30px;
      margin-bottom: 30px;
  }
  #cardTitle {
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 1.8em;
    height: 84px;
  }
  .card-info {
    padding: 15px 0 10px 0;
  }
  .card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }
  #surveyBtnDiv{
    margin-top:20px;
  }
.container {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
h3 {
  font-weight: bold;
}
.job-img {
  margin-top:15px;
  margin-left: 15px;
}
