.card {
    width: 1024px;
    height: auto;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    padding: 10px;
    /* box-sizing: border-box; */
    /* top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .card-title {
      margin-top: 10px;
  }

  .infobtn {
      margin-right: 5px;
      margin-bottom: 20px;
      height: 38px;
  }

  .deleteButton {
      font-weight: bolder;
  }

  #startSurvey {
      margin-top: -10px;
      margin-left: 30px;
      margin-bottom: 30px;
  }
  .info{
      font-weight: bold;
  }
