.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.error {
  color: red;
}

.logout-link {
  font-style: italic;
  font-weight: bold;
}

.greeting {
  text-align: center;
  margin-top:20px;
}